{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 align-center">
                <h1>Create new blog entry.</h1>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.shortDescription) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.imageFile) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.body) }}
                </div>

                <input type="submit" class="btn btn-primary"/>

                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}